
.mainContainer{
    background-color: #d9d9d9;
    margin: 0px;
    margin-left: 130px;
    padding: 0px, 0px, 0px, 0px;
    size: 100%;
    height: 100vh;
}

.card{

    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    height: 250px;
    width: 150px;
    
    
}

.card:hover{
  border: 5px solid #c6711c;
}

.CardContainer{
    background-color: #333;
    size: 100px;
    display: inline-flex;
    margin: 2px;
    border-radius: 10px;
    padding: 1px, 1px, 1px, 1px;
}

.card .card-image{
    max-width: 80%;
    height: auto;
    margin: 5px;
    margin-top: 10px;
}

.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    margin-left: 0;
    padding-left: 0;
    color: gray;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Header {
  background-color: #c6711c;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px, 0px, 0px;
  border-width: 0px;
  width: 100%;
  height: 40px;
}

.Header-Title{
  padding-left: 1%;
  font-family: Brush Script MT; 
  color: white;
  float: left;
  margin-top: 3px;
}

.Header-Text{
  font-family: Brush Script MT; 
  float: right;
  margin-right: 2%;
  margin-top: 3px;
  color: white;
}

.Header-SearchBar{
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin-top: 12px;
  padding-left: 2px;
  margin-left: 40px;
}

.Header-Button{
  float: right;
  padding: 8px;
  margin-top: 2px;
  margin-right: 1%;
  color:#c6711c;
  background-color: white;
  border-radius: 5px;
  border-color: #d9d9d9;
}

.Header-Button:hover{
  color: white;
  background-color: #c6711c;
  border-color: #a35d17;
}

body{
  margin: 0px;
  background-color: white;
  height: 30px;
}

.SideBar{
  width: 130px;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  z-index: 1;
  background: white;
  overflow-x: hidden;
  padding: 0px 0px, 0px, 0px;
}

.SideBar-Button{
  padding: 6px 0px 6px 16px;
  width: 100px;
  text-decoration: none;
  font-size: 25px;
  color: #c6711c;
  display: block;
}
  
  .SideBar-Button:hover {
    color: #000000;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .createRecipeTitle{
    color: #c6711c;
    text-align: center;
    padding-top: 10px;
  }

  .ingredients-list{
    padding-bottom: 10px;
  }

  .ingredient-label{
    padding: 5px;
    font-size: 17px; 
    color: rgb(178, 178, 178);
    
  }

  .ingredient-list-quantity{
    width: 30px;
    text-align: center;
    background-color: #414141;
    border-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px; 
  }

  .ingredient-list-unit{
    width: 80px;
    text-align: center;
    background-color: #414141;
    border-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px; 
  }

  .ingredient-list-ingredient{
    width: 100px;
    text-align: center;
    background-color: #414141;
    border-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px; 
  }

  .button-remove{
    background-color: rgb(252, 95, 95);
    border-color: rgb(254, 112, 112);
    text-align: center;
    margin: 0;
  }

  .button-add-ingredients{
    width: 410px;
    background-color: rgb(154, 149, 159);
    border-color: rgb(185, 179, 191);
    margin-left: 45px;
  }

  .button-add-instructions{
    width: 84%;
    background-color: rgb(154, 149, 159);
    border-color: rgb(189, 182, 195);
    margin-left: 40px;
  }

  .instructions-input{
    width: 90%;
    text-align: center;
    background-color: #414141;
    border-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px; 
    margin-top: 15px;
  }

  .button-save{
    background-color: rgb(17, 205, 0);
    border-color: rgb(17, 205, 0);
    text-align: center;
    width: 85%;
    margin-left: 15px;
    margin-top: 15px;
  }

  .button-delete{
    background-color: rgb(252, 95, 95);
    border-color: rgb(254, 112, 112);
    text-align: center;
  }

  .catagory{
    text-align: center;
    color: rgb(178, 178, 178);
  }

  .recipe-title{
    text-align: center;
    background-color: #414141;
    border-color: gray;
    color: white;
    font-size: 17px; 
    margin-top: 15px;

  }

  .recipe-title-label{
    text-align: center;
    font-size: 17px; 
    margin-left: 20%;
    color: rgb(178, 178, 178);
  }

  .recipe-description{
    text-align: left;
    background-color: #414141;
    border-color: gray;
    color: white;
    font-size: 17px; 
    margin-top: 15px;
    width: 80%;

  }

  .recipe-description-label{
    text-align: center;
    font-size: 17px; 
    margin-left: 10px;
    color: rgb(178, 178, 178);
  }